@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900;
}

a {
  @apply text-blue-600 hover:text-blue-800;
}

.card {
  @apply bg-white shadow rounded-lg p-4 border border-slate-200;
}
